<div class="container">
  <h1>Hi! How can we help you today?</h1>
  <div class="options">
    <%= link_to "Analyse a new job listing", new_webpage_path %>
    <%= link_to "Find a job listing", webpages_path %>
  </div>
</div>
