<div class="container">
  <h1 class="landing-title">Hi! How can we help you today?</h1>
  <div class="landing-options">
    <%= link_to "Analyse a new listing", new_webpage_path, class: "landing-btn" %>
    <%= link_to "Find a job listing", webpages_path, class: "landing-btn" %>
  </div>
</div>
